server:
  port: 3344

spring:
  application:
    name: spring-cloud-config-3344
  cloud:
    config:
      server:
        git:
          uri: git@github.com:Aclik/spring-cloud-config.git # GitHub上面的git仓库名字

